{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="UTF-8">
  <meta name="author" content="Djabali Abderrahim">
  <meta name="language" content="English">
  <meta name="viewport" content="width=1080">
  <meta name="theme-color" content="#FFA500">
  <meta name="robots" content="index, follow">
  <meta name="copyright" content="© 2024 FOXNOTE">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="FOXNOTE is a free, user-friendly note-taking platform that helps you organize your ideas and stay productive. Sign up now to manage your notes effortlessly!">
  <meta name="rating" content="General">
  <meta name="keywords" content="note-taking, free notes, FOXNOTE, productivity, online notes, free online note, note, text note, note text, free text note, free note text, online text note, free online text note, organize notes">

  <!-- Favicon and Icons -->
  <link rel="icon" href="{% static 'images/icon page.png' %}">
  <link rel="apple-touch-icon" href="{% static 'images/icon page.png' %}">

  <link rel="stylesheet" href="{% static '404.css' %}">

  <title>FOXNOTE | 404 </title>
</head>
<body>
  <h1>404 Error Page</h1>

  <section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
  </section>
  <div class="link-container">
  
  </div>    


  <script>
    setTimeout(() => {
      document.body.style.visibility = "visible";
      document.body.style.opacity = "1";  // This will trigger the fade-in effect
    }, 3000)
  </script>
  
</body>
</html>
