/* import the header font family */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* import the regular font */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');


/* styling the body */
body {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'messages'
    'logout_content'
  ;
  margin: 0;
  padding: 0;

  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;  /* Optional: Fade-in effect */

}


body::before {
  content: ''; /* Necessary for pseudo-elements */
  position: absolute; /* Position it absolutely to cover the entire body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background/wave type 5.svg'); /* Your SVG background image */
  background-size: cover; /* Ensure the image covers the pseudo-element */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the background image */
  opacity: 1; /* Start with the background image hidden */
  z-index: -1; /* Place it behind other content */
  /* animation: fadeIn 0.5s cubic-bezier(.47,0,.74,.71) forwards; */ /* Animate the opacity */
  animation: wipe 2s cubic-bezier(.55,.06,.68,.19) forwards 2s;
}


@keyframes wipe {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

/* styling the head */

/* styling the header */
header {
  grid-area: header;
}

header h1 {
  font-size: 4rem;
  color: #f29c1f; /* Orange color for FOXNOTE */
  margin-bottom: 20px;
  font-family: "Caveat Brush", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 75;
  margin: 0;
  margin-left: 35px;

}





/* style the message container */
.popup-message-container {
  grid-area: messages;
  overflow-y: auto;/* Enables scrolling when the content exceeds the height */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  max-height: 100px;
  scrollbar-width: none;
}


/* style the message list */

.popup-message {

  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;

}


.popup-message {
  padding: 0px 10px;
  background: rgb(207, 207, 207);
  border: solid 3px rgb(113, 113, 113);
  border-radius: 7px;
  transition: background 5s  cubic-bezier(0,1.59,0,-0.01), opacity 0.5s ease, transform 1.5s;
  opacity: 1;

  cursor: default;
}


.popup-message:hover {
  background: rgb(242, 242, 242);

}


/* styling the list of message */
.popup-message-move {
  transform: translateX(-500px);
  opacity: 0;
}

.popup-message span{
  padding: 10px 5px;
  font-size: 25;
}

.popup-message button {
  background: none;
  border: none;
  margin: 0;
  font-size: 40;
}

.popup-message button:hover {
  color: rgb(255, 0, 0);
}




/* style the main */
.main {
  grid-area: logout_content;
  position: relative;
  height: 100vh;
}


/* styling the content */
.content {

  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
  width: 70%;

  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.065) 0%, rgba(255, 255, 255, 0.088) 76%, rgba(255, 255, 255, 0.296) 100%);
  backdrop-filter: blur(5px);

  box-shadow: 0px 0 25px 0px #ffffff59 inset;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* styling the content title */
.content h2 {
  font-size: 2rem;
  margin-left: 30px;
}


/* styling the form */

form {
  position: relative;
}

/* styling the first div child */

form div:nth-child(2) {
  margin-bottom: 20px;
}

/* styling the input */
form input {
  border: solid black 2px;
  border-radius: 10px;
  padding: 10px 15px;
  width: 50%;
  font-size: 1.3rem;

  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}



/* style the secont div child */
form div:nth-child(3) {
  margin-bottom: 20px;
}



/* style the help text */
form div:nth-child(3) div:nth-child(2){
  position: absolute;
  top: -37%;
  right: 9%;
}


/* Tooltip container */
.tooltip-container {
  position: absolute;
  display: inline-block;
}

/* Icon styling */
.icon {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

/* SVG Animation: Rotate and scale effect */
.icon svg {
  transition: transform 0.5s ease-in-out;
}

.icon:hover svg {
  transform: rotate(360deg) scale(1);
}

/* Tooltip styling */
.tooltip {
  visibility: hidden;
  width: 906%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: -427%;
  opacity: 0;
  transition:
    opacity 0.5s,
    transform 0.5s;
  transform: translateY(186%);
  font-size: 0.8rem;

  border: solid 2px black;
  border-radius: 10px;
  height: fit-content;
  color: black;
  background: rgb(255, 255, 255) !important;

}

/* Tooltip Arrow */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: rotate(180deg);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) translateX(0);
  top:130%;

}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) translateX(0);
  animation: bounce 0.6s ease;

}



.tooltip ul {
  text-align: start;
  padding-left: 25px;
}

/* style the last div child */
form div:nth-child(4) {
  margin-bottom: 20px;
}


/* styling the last part of the form */
.form-bottom {
  position: relative;
}

/* the submit button */
/* styling the button */
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  left: 50%;
  transform: translate(-50%);
  margin-top: 150px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #499b30;
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    #499b30 0%,
    #499b30 8%,
    #499b30 92%,
    #499b30 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: #499b30;
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.front .send-icon{
  color: #499b30;
  vertical-align: sub;
}

.pushable:hover .send-icon {
  color: white;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}



/* styling the forget password */

.content a {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}



/* style the error message */
.errorlist {
  list-style: none;
  padding-left: 0;
  color: rgb(184, 67, 67);
}