{% load static %}
{% load i18n allauth account %}


<head>
    <meta charset="UTF-8">
    <meta name="author" content="Djabali Abderrahim">
    <meta name="language" content="English">
    <meta name="viewport" content="width=1080">
    <meta name="theme-color" content="#FFA500">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="© 2024 FOXNOTE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FOXNOTE is a free, user-friendly note-taking platform that helps you organize your ideas and stay productive. Sign up now to manage your notes effortlessly!">
    <meta name="rating" content="General">
    <meta name="keywords" content="note-taking, free notes, FOXNOTE, productivity, online notes, free online note, note, text note, note text, free text note, free note text, online text note, free online text note, organize notes">
  
    <!-- Favicon and Icons -->
    <link rel="icon" href="{% static 'images/icon page.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/icon page.png' %}">
  
    <title>FOXNOTE | Password Reset</title>
  
    <link rel="stylesheet" href="{% static "/account/css/password_reset.css" %}">
</head>


<div class="reveal-background"></div>


<!-- for the title -->
<header>
	<h1>FOXNOTE</h1>
</header>



<!-- for the message popup -->
<div class="popup-message-container">

	{% if messages %}
			
		{% for message in messages %}

			<div id="popup-{{ forloop.counter }}" class="popup-message">
				<span class="message">{{ message }}</span>
				<button onclick="closePopup('popup-{{ forloop.counter }}')">&times;</button>
			</div>

		{% endfor %}
		
	{% endif %}


</div>




<!-- for the success message -->
<div class="success-message-container">
    <div class="success-message">
        {% block content %}
            {% element h1 %}
                {% trans "Password Reset" %}
            {% endelement %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            {% element p %}
                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            {% endelement %}
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                {% slot actions %}
                    <button type="submit" class="pushable">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front"> 
                            {% trans 'Reset My Password' %} 
                        </span>
                    </button>
                {% endslot %}
            {% endelement %}
            {% element p %}
                {% blocktrans %}Please <a href="mailto:python.py2002@gmail.com">contact</a> us if you have any trouble resetting your password.{% endblocktrans %}
            {% endelement %}
        {% endblock content %}
    </div>
</div>



<!-- todo the animation of removing popup message -->
<script src="{% static "account/js/remove-popup-message.js" %}"></script>

<script>
    setTimeout(() => {
        document.body.style.visibility = "visible";
        document.body.style.opacity = "1";  // This will trigger the fade-in effect
    }, 5000)
</script>